<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin agencia devHouse</title>
    <link rel="stylesheet" href="/CSS/home.css">
</head>
<body>
    <%- include('../components/header') %>
    <main>
        <div class="botaoProdutos">
        <a href="http://localhost:3000/cadastroProduto" class="Produtos">Cadastrar Produtos</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <% produtos.forEach(produto => { %>
                        <tr>
                            <td><%= produto.id %></td>
                            <td><%= produto.nome %></td>
                            <td>
                                <form
                                method="POST"
                                action="/deletar-produtos/<%= produto.id %>?_method=DELETE">
                                <button>Excluir</button>
                                </form>
                            </td>
                            </tr>
                            <% }); %>
                             </td>
                        </tr>
            </tbody>
        </table>
        
    </main>

</body>
</html>