<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="/css/global.css">
</head>

<body>
    <header>
    <p>
        <h1>DH NEWS</h1>
    </p>
    </header>
    <main>
        <b><H4>Postado em 02/03/2021</H4>
        </b>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem labore exercitationem dolorum quo, ullam quidem aut cumque, inventore quas consequuntur molestiae repellendus nulla aliquid nisi dolor reprehenderit, quibusdam architecto distinctio. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse error ea eveniet reprehenderit temporibus quae quos neque in hic eum. Adipisci, laudantium modi dolore non consequatur voluptatibus explicabo veniam dolor?</p>
        <img src="/img/destaque.webp" alt="">  
    </main>
    <p>
        <b><h2>Pariartur architecto doloremque debitis distinctio</h2></b>
    </p>
    <main>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis provident expedita fugiat libero sit. Unde iste quia cumque ut minus. Aspernatur delectus facilis quo mollitia perferendis. Inventore eos doloribus repellat!
        </p>
        <ol>
            <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                </li>
                <li>
                    Porro, maiores enim
                    </li>
                    <li>
                         Repellendus, dicta soluta omnis similique  
                    </li>

        </ol>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid alias temporibus sint, quia voluptatem culpa libero est necessitatibus? Quam doloribus nesciunt, ea aliquam impedit ratione. Iste deleniti architecto qui porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus excepturi adipisci ex eveniet? Consequuntur libero commodi atque omnis qui non quos consectetur fugiat, dicta accusamus quae nulla quis magni. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis facere mollitia commodi! Odio at omnis minima sit dignissimos repellat eaque ab numquam debitis aliquam doloribus consequatur accusamus, facere et deserunt?
        </p>
        
    </main>
    <main>
        <h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, perferendis maiores minus a doloremque explicabo illum error tempore sed adipisci voluptatum atque excepturi quam vero cupiditate qui velit eaque! Libero.
        </h1>
    </main>
    <main>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cupiditate est corporis debitis beatae, officia ex vitae optio quasi ab dolorem numquam tempora, obcaecati veniam eveniet distinctio quis molestias aut? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias impedit fugit vitae temporibus ex, dicta animi quisquam omnis earum tempore, facilis nostrum veritatis repudiandae similique beatae pariatur! Totam, cum nulla.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut debitis non repellendus unde corporis. Sapiente soluta mollitia nostrum reiciendis quam harum sed labore officia rerum eveniet similique, ex exercitationem tenetur? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde quo doloremque reprehenderit, vel assumenda commodi tempora ea consectetur quae atque explicabo quibusdam recusandae ullam, ducimus maiores ex expedita debitis! Sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ut aliquam, perspiciatis deleniti doloremque quod. Facere ipsa dolorem excepturi nesciunt distinctio maxime voluptas dolorum, asperiores alias quo? Magni, facere labore. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quidem, odio praesentium atque doloribus eveniet iure nostrum repellendus modi minus sint voluptatem quisquam soluta dignissimos pariatur ipsa ut laborum a!
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et optio eaque, eligendi, enim laboriosam dolorem minima veritatis quam dolor repellendus alias quibusdam, culpa aut animi. Dolores ipsa distinctio aperiam illum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim possimus velit perferendis cumque quia fuga, nemo tenetur facilis eum, impedit ab quibusdam repellendus voluptate voluptatem eius fugit magnam, vel qui.
        </p>
    </main>
    
</body>
</html>