<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <button id="botaofixo"><b>Chat pra contato</b></button>
        <img src="/img/logo.png" alt="Agencia - devHouse" title="Agencia - devHouse" id="logo">
        <img src="/img/menu-icon.png" id="menu">
        <nav id="lista2">
            
            <a href="http://localhost:3000/home"> Home</a>
            <a href=""> Produtos</a>
            <a href=""> Depoimentos</a>
            <a href="http://localhost:3000/blog"> Blog</a>
            
        </nav>
        <div>
        <a id="Numero">+55 67 998724276</a>
        <button id="Atendimento">Atendimento </button>
        </div>
    </header>
    <main>
        
        <nav id="Texto">
            <b><p>Good design meets<br> great user experience</p></b>
       </nav>
       <nav id="Texto2">
           <p><p>For everyone, from beginners to experts</p></p>
       </nav>
       <div id="lista">
       <button id="Compra">Buy Digits</button>
       <button id="features">See the features</button>
       </div>
       <div id="imagem"><img src="/img/banner.png"></div>

       <section id="cinemax">
           <div id="Texto3">Trusted by forward-thinking software teams around the world</div>
           <div id="cinemaxTitulo">CINEMAX</div>
           <div id= quadrados>
           <div id="quadrado"></div>
           <div id="quadrado2"></div>
           <div id="quadrado3"></div>
           </div>
           <div id="Texto4">
               <h1>Whatever work you do,<br>
            we're able to help</h1>
           </div>
           <div id="pessoas"><img src="/img/banner-2.png" id="banner2">
           <nav id="textos">
            <b><p id="subtitulo1">Design and Assets</p></b>
           <p id="subtexto1">Make your brand stand out with<br> pixel-perfect design crafted to perfection.</p>
           <b><p id="subtitulo2">Easy Content</p></b>
           <p id="subtexto2">Import your demos or build pages<br> visually. Bonus: All images and illustrations included!</p>
           <b><p id="subtitulo3">Fast and Reliable</p></b>
           <p id="subtexto3">No heavy-weight plugins. No<br> builders. No unneccesary file loading. Pure WordPress.</p>
           </nav>
           </div>
        </section>
        <section id="abaixo">
            <div id="Texto5">
            <h1>What others are saying</h1>
            </div>
        </section>
        <section id="quadrados2">
            <div id="botao1">Completely beautiful website and<br> amazing support! This is my<br> second website from this author<br> and I love both of the sites so much<br> and she has helped me so well<br> when I needed it!</div>
            <div id="botao2">Really easy to use and customize.<br> easy to understand. Darinka helped<br> me with my site! She answers very<br> quickly, a good service! Thank you<br> very much!</div>
            <div id="botao3">Really pleasing to look at!<br> Documentation (including<br> installation instructions) are clear<br> and that is coming from a relatively<br> new WordPress user.</div>
        </section>
        <img src="/img/user-1.png" id="user1">
        <div id="user1text1"> <b> Happy User</b></div>
        <div id="user1text2"><p>tempy.club</p></div>
        <img src="/img/user-2.png" id='user2'>
        <div id="user2text1"> <b> Happy User</b></div>
        <div id="user2text2"><p>tempy.club</p></div>
        <img src="/img/user-3.png" id="user3">
        <div id="user3text1"><b>Happy User</b></div>
        <div id="user3text2"><p>tempy.club</p></div>  
        <section id="baixo">
            <div id="rectangle"></div>
        </section>   
        <div id="What"><b><p>Ready to launch<br> 
            your next website?</b></p></div>
        <button id="get"><b>Get in touch now</b></button>
        <div id="subtexto"><p>Or, take a peek inside our design studio</p></div>    
        
  


    
    </main>

</body>
</html>